{%- comment -%}
  Include vars:
  scrolly_nav
{%- endcomment -%}

<!-- Header -->
<div id="header">
  <div class="top">
    {%- include logo.html -%}
    {%- include nav.html section_items=include.scrolly_nav -%}
  </div>
  <div class="bottom">
    {%- include social_icons.html -%}
  </div>
</div>
<script>
    console.log("\n27. 그가 가까이 가서 그에게 입맞추니 아버지가 그의 옷의 향취를 맡고 그에게 축복하여 이르되 내 아들의 향취는 여호와께서 복 주신 밭의 향취로다\n" +
        "28. 하나님은 하늘의 이슬과 땅의 기름짐이며 풍성한 곡식과 포도주를 네게 주시기를 원하노라\n" +
        "29. 만민이 너를 섬기고 열국이 네게 굴복하리니 네가 형제들의 주가 되고 네 어머니의 아들들이 네게 굴복하며 너를 저주하는 자는 저주를 받고 너를 축복하는 자는 복을 받기를 원하노라\n" +
        "  \t\t\t\t\t\t\t\t\t\t\t " +
        " 창세기 27:27 - 29 \n\n");

</script>
